<!DOCTYPE html>
<html>
  <head>
 {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="static/images/kreader_icon.png"/>
        
    <title>Korean Reader</title>
	
	<!-- bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>    

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	
    <script type="text/javascript" src="static/scripts/jquery.messagebox.min.js"></script>
    <script type="text/javascript" src="static/scripts/jquery.tooltipster.min.js"></script>
	
    <script type="text/javascript" src="static/scripts/kreader.js"></script>


  
    <link rel="stylesheet" type="text/css" href="static/styles/kreader.css"  />
    
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/messageBox.min.css"  />
    <link rel="stylesheet" type="text/css" href="static/styles/tooltipster.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-light.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-noir.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-punk.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-shadow.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
        <!-- Icons by courtesy of ABSFreePic.com -->
    
    {% endblock %}

    {% block script %}
    {% endblock %}
    
  </head>
  
  <body class="body-center">
    <div class="header-panel">
      <div class="app-title">Korean Reader</div>
      <ul class="nav nav-pills">
        <li class="nav-item">
	      <a class="nav-link {{ btn_my_texts }}" href="/">My Texts</a>
        </li>
        <li class="nav-item">
	      <a class="nav-link {{ btn_add_text }}" href="/addtext">Add Text</a>
        </li>
		{% if btn_settings_visible %}
        <li class="nav-item">
          <a class="nav-link {{ btn_settings }}" id="settings" href="#!">Settings</a>
        </li>
		{% endif %}
      </ul>
    </div>	
  
    {% block content %}
	{% endblock %}
  </body>

</html>