<!DOCTYPE html>
<html>
  <head>
	{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="static/images/kreader_seal.png"/>
        
    <title>Korean Reader</title>
	
	<!-- bootstrap -->
	<script src="static/scripts/jquery-3.3.1.min.js"></script>
    <script src="static/scripts/popper.min.js"></script>
	<script src="static/scripts/tether.min.js"></script>
    <script src="static/scripts/bootstrap.min.js"></script>
	
    <script src="static/scripts/jquery-ui.min.js"></script>	
    <link rel="stylesheet" href="static/scripts/jquery-ui.min.css">
	
    <script type="text/javascript" src="static/scripts/jquery.messagebox.min.js"></script>
    <script type="text/javascript" src="static/scripts/jquery.tooltipster.min.js"></script>
	
    <script type="text/javascript" src="static/scripts/kreader.js"></script>


  
    <link rel="stylesheet" type="text/css" href="static/styles/kreader.css"  />
    
  <!--  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> -->
    <link rel="stylesheet" type="text/css" href="static/styles/messageBox.min.css"  />
    <link rel="stylesheet" type="text/css" href="static/styles/tooltipster.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-light.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-noir.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-punk.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-shadow.css" />

    <link rel="stylesheet" href="static/scripts/bootstrap.min.css">
	<link rel="stylesheet" href="static/scripts/fontawesome-all.min.css">
	<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	-->
        
    {% endblock %}

    {% block script %}
    {% endblock %}
    
  </head>
  
  <body class="body-class">
    <div class="header-panel">
      <div class="app-title"><img src="static/images/kreader_seal.png" width="32" height="32" class="align-content-center">Korean Reader</div>
      <ul class="nav nav-pills">
        <li class="nav-item">
	      <a class="nav-link {{ btn_my_texts }}" href="/">My texts</a>
        </li>
        <li class="nav-item">
	      <a class="nav-link {{ btn_add_text }}" href="/addtext">Add text</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ btn_settings }}"  href="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ btn_new_words }}" href="/new_words">New words</a>
        </li>		
      </ul>
    </div>	
  
    {% block content %}
	{% endblock %}
  </body>

</html>