{% extends "base.htm" %}

{% block content %}
<h3>New text</h3>
<div class="m-2">
	<form action="/updatetext" method="post" id="form_submit_text" >
	    <div class="form-group">
		    <input type="text" name="title" class="form-control" id="formGroupExampleInput" value="{{ title }}">
	    </div>	 
        <div>
		    <textarea rows="10" name="submitted_text" class="form-control">{{ text }}</textarea> 
		    <input type="hidden" name="text_id" value="{{ text_id }}" /> 
        </div>
	    <div>
		    <button type="submit" form="form_submit_text" value="Update Text" class="btn btn-success mt-2">Update Text</button>
	    </div>	   
	</form>
</div>
{% endblock %}