{% set btn_my_texts = "active" %}
{% extends "base.htm" %}

{% block script %}

<script type="text/javascript">
  /*  
        var msg_box = null;
		var text_id_to_delete = null;
        
        function msgClose(toDelete){
		    if(toDelete) {
				$('.title-table #' + text_id_to_delete).remove();
				delete_text(text_id_to_delete);
			}
			text_id_to_delete = null;
		}
*/
	$(document).ready(function() {
		$( "#dialog-confirm" ).dialog({
		  autoOpen: false,
		  resizable: false,
		  height: "auto",
		  width: "auto",
		  modal: true,
		  buttons: {
			"Delete text": function() {
			    $( this ).dialog( "close" );
			    const text_id_to_delete = $( this ).dialog( "option", "text-id");
				$('.title-table #' + text_id_to_delete).remove();
				delete_text(text_id_to_delete);
			},
			"Cancel": function() {
			  $( this ).dialog( "close" );
			}
		  }
		});
		
		$( ".a_delete" ).on( "click", function() {
			const text_title = $(this).attr('data-text-title');
			const text_id = $(this).attr('data-text-id');
			const msg_title = "Delete \"" + text_title + "\"?";
			$( "#dialog-confirm" )
				.dialog('option', 'title', msg_title)
				.dialog('option', 'text-id', text_id)
				.dialog( "open" );
		});
    });
</script>
{% endblock %}

{% block content %}
	<div id="main_panel">
		<div class="container">
			<div class="col-md-auto">
	{% if textdescs|length %}
        <table class="title-table">
            <thead>
                 <tr>
                     <th>Title</th>
                     <th>Total Words</th>
                     <th>Unique Words</th>
                     <th>Actions</th>
                 </tr>
            </thead>
            <tbody>
                 {% for textdesc in textdescs %}
                     <tr id="{{ textdesc.id  }}">
                         <td class="p-1"><a href="/showtext?id={{ textdesc.id }}">{{ textdesc.title }}</a></td>
                         <td class="small">{{ textdesc.total_words }}</td>
                         <td class="small">{{ textdesc.unique_words }}</td>
                         <td>
						    <a href="#" class="btn btn-outline-secondary btn-sm a_delete" data-text-id="{{ textdesc.id  }}" data-text-title="{{ textdesc.title }}">
								<img src="static/images/Delete_small.png"/>
							</a>
						    <a href="/edittext?id={{ textdesc.id }}" class="btn btn-outline-secondary btn-sm a_modify">
								<img src="static/images/Modify_small.png"/>
							</a>
						 </td>
                     </tr>
                 {% endfor %}
            </tbody>
        </table>
	{% else %}
	  <h2>No text added</h2>
	{% endif %}
			</div>
		</div>
	</div>
	
<div id="dialog-confirm" title="Delete text?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0"></span>The text will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
	
{% endblock %}