{% extends "base.htm" %}

{% block script %}

    <script type="text/javascript">
    
        var msg_box = null;
        
        function msgClose(ret){
	console.log("msgClose -> retour %s", ret);
}

		$(document).ready(function() {
                msg_box = $("body").messageBox({
                // autoclose timeout. 0 = disable autoclose
                autoClose : 0, 
                // show autoclose counter
                showAutoClose : true,       
                // enable modal mode   
                modal:true, 
                // path to the CSS
                css: 'static/styles/messageBox.min.css', 
                // called when message box is closed
                cbClose: msgClose,       
                // called when message box is ready          
                cbReady: false,       
                // localization         
                locale:{
                  NO : 'No',
                  YES : 'Yes',
                  CANCEL : 'Cancel',
                  OK : 'Okey',
                  textAutoClose: 'Auto close in %d seconds'
                }
            });
        
            $('.a_delete').click(function(){
                var title = $(this).parent().text();
                msg_box.data('messageBox').question(
                
                    'Text Deletion',

                    
                     'Delete ' + title + '?', // messageBox body
                    // the buttons to be displayed in the messageBox
                    // The return value will be passed to the callback function cbClose ()
                     [{text:'Yes',return:true}, {text:'No',return:false} ]
                     
                
                );
            });
        });
    </script>
{% endblock %}

{% block content %}
	{% if textdescs|length %}
        <table class="title-table">
            <thead>
                 <tr>
                     <th>Title</th>
                     <th>Total Words</th>
                     <th>Unique Words</th>
                     <th>Reading Progress</th>
                     <th></th>
                     <th></th>
                 </tr>
            </thead>
            <tbody>
                 {% for textdesc in textdescs %}
                     <tr>
                         <td><a href="/showtext?id={{ textdesc.id }}">{{ textdesc.title }}</a></td>
                         <td>{{ textdesc.total_words }}</td>
                         <td>{{ textdesc.unique_words }}</td>
                         <td>0</td>
                         <td><a href="#" class="a_delete" id="{{ textdesc.id }}"><img src="static/images/Delete.png"></a></td>
                         <td><a href="#" class="a_modify" id="{{ textdesc.id }}"><img src="static/images/Modify.png"></a></td>
                     </tr>
                 {% endfor %}
            </tbody>
        </table>
	{% else %}
	  <h2>No text added</h2>
	{% endif %}
{% endblock %}