{% set btn_settings_visible = True %}
{% extends "base.htm" %}

{% block script %}

    <script type="text/javascript">
	
		const current_text_id = "{{ text_id }}";
		
		$(document).ready(function() {
			let theme_class = "theme-{{ theme }}";
			$("#main_panel")
			   .css('font-size', {{ font_size }})
			   .addClass(theme_class);
			let tokens = {{ tokens|safe }};
			annotate(tokens, theme_class);		
		});
    </script>

{% endblock %}
  
{% block content %}
	<div id="main_panel">
		<h2 class="text-title">{{ title }}</h2>
		<div class="text-body"> </div>
		<div id="popup_div" class="popup_msg"></div> 
	</div>
{% endblock %}