
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Annotated text</title>
    
    <link rel="stylesheet" type="text/css" href="static/styles/kreader.css"  />
    <link rel="stylesheet" type="text/css" href="static/styles/tooltipster.css" />
	<link rel="stylesheet" type="text/css" href="static/styles/themes/tooltipster-light.css" />
	
    <script type="text/javascript" src="static/scripts/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="static/scripts/jquery.tooltipster.min.js"></script>
	<script type="text/javascript" src="static/scripts/kreader.js"></script>
	
    <script type="text/javascript">
	    var global_glossary = {{ glossary|tojson|safe }};
		
		$(document).ready(function() {
			var tokens = {{ tokens|tojson|safe }};
			annotate(tokens)
		});
    </script>

  </head>
  
   <body>
     <h1>Annotated text</h1>
     <div class="main_panel"> </div>
	 <div id="popup_div" class="popup_msg"></div> 
   </body>

</html>