
/*** Show text page   ***/

#main_panel 
{
   text-align: left;
  /* padding-left: 10px;
   line-height: 150%;*/
}

/*************** Popup word definition tooltip  ****************/
.popup_msg
{
   
}

.popup_defined_word 
{
   font-weight: bold;
   margin-bottom : 5px;
   margin-top : 5px;
   padding-bottom : 5px;
}

.popup_definition ul
{
padding-left: 0;
margin-left: 0;
margin-bottom: 0;
/*border-bottom: 1px solid lightgray;*/
}

.popup_definition li
{
/*list-style: none;*/
margin: 0;
margin-left: 0.5em;
padding: 0.25em;
/*border-top: 1px solid gray;*/
}

.popup_part_of_speech
{
   font-size: smaller;
   font-style: italic;
}

.popup_conjugation_info
{
   /*font-size: smaller;*/
}

.popup_pronounce_button, .popup_add_word_button
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.gray
{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/** Show text - individual words  **/

.defined_word:hover
{
  background-color: #D4BC6A;
  cursor: pointer;
}

.word_without_definition:hover
{
  background-color: #FFEBAA;
}

/**  **/

.app-title
{
    font-size: 200%;
}

.header-panel
{
    padding: 5px 10px 5px 10px;
    background-color: #c8c8c8;
}

.body-class
{
    font-family: Verdana, Tahoma, sans-serif;
}

#settings_content
{
  padding: 10px 10px;
}

.title-table
{
margin: 3px;
border-collapse: collapse;
}

.title-table th
{
/*width: 25%;*/
padding: 4px;
text-align: center;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
.title-table td
{
padding: 1px;
background-color: #fff;
border: 1px solid #b9b9b9;
}

td ol
{
	margin-left: 1.5em;
	padding-left: 0;
}

/* Settings page */

.settings-theme
{
  padding: 3px;
}

.theme-light
{
   background-color: white;
   color : black;
}

.theme-dark
{
   background-color: #202529;
   color : white;
}

.theme-sepia
{
   background-color: #d9cba0;
   color : #252617;
}
