
.main_panel  /* text display*/
{
   text-align: left;
   margin-left: 10px;
   line-height: 150%;
}

body
{
    /*padding: 20px 20px 20px 20px;*/
}

.popup_msg
{
   
}

.popup_defined_word 
{
   font-weight: bold;
   margin-bottom : 5px;
   margin-top : 5px;
   padding-bottom : 5px;
}

.popup_definition ul
{
padding-left: 0;
margin-left: 0;
margin-bottom: 0;
/*border-bottom: 1px solid lightgray;*/
}



.popup_definition li
{
/*list-style: none;*/
margin: 0;
margin-left: 0.5em;
padding: 0.25em;
/*border-top: 1px solid gray;*/
}


.popup_part_of_speech
{
   font-size: smaller;
   font-style: italic;
}

.popup_conjugation_info
{
   /*font-size: smaller;*/
}

.popup_pronounce_button
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.defined_word:hover
{
  background-color: #D4BC6A;
  cursor: pointer;
}

.word_without_definition:hover
{
  background-color: #FFEBAA;
}


/*  */

.app-title
{
    font-size: 300%;
    text-align: left;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom : 20px;
}

.header-panel
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c8c8c8;
    vertical-align: middle;
}

.header-panel  span
{
    vertical-align: top;
    margin-left: 10px;
    /*margin-top:    10px*/
}

.title-list
{
    margin-left : 20px;
  /*  margin-right : 20px;*/
    margin-top : 10px;
    /*margin-bottom : 5px;*/
}

.body-center
{
  /*   */
    font-family: Verdana, Tahoma, sans-serif;
    
}

.text-title
{
   text-align: center;
}

.add_text_prop
{
    margin-top: 10px;
}

.add_text_title
{
    width: 100%
}

li
{
    margin-top: 10px;
}

.title-table{
margin: 10px;
border-collapse: collapse;
}

.title-table th{
/*width: 25%;*/
padding: 4px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
.title-table td{
padding: 4px;
background-color: #fff;
border: 1px solid #b9b9b9;
}

img
{
    margin: 5px;
}

/* Settings */

#settings {
   cursor: pointer;
}

.settings-theme
{
  padding: 3px;
}

.theme-light
{
   background-color: white;
   color : black;
}

.theme-dark
{
   background-color: #202529;
   color : white;/*#a1b4c4;*/
}

.theme-sepia
{
   background-color: #d9cba0; /* d9c484 */
   color : #252617; /* 59583f */
}
